In [1]:
import pandas # work with tabular data in Python
import pulp # the python package for mathematical programming

In [2]:
items = pandas.DataFrame.from_dict(
    dict(
        item_name = ("pencils", "notebook", "extra paper", "pens", "water bottle", "chewing gum", "spare shoes", "lunch", "granola bar"),
        size = (1, 5, 3, 2, 8, 1, 10, 6, 4),
        reward = (2, 2, 1, 1, 3, 1, 2, 2, 1),
    )
).set_index('item_name')

# Do

Now it is your turn. Using the techniques shown above, can you solve the following *extension* problems?

## An Important Math Test

You have a very important math test today. In order to be prepared for it, you have to consider [a few different items](https://vimeo.com/77451201) because of this:

In [3]:
test_items = pandas.DataFrame.from_dict(
    dict(
        item_name = ("protractor", "calculator", "pair of compasses", "garry gum"),
        size = (1, 4, 2, 1),
        reward = (2, 4, 2, 2)
        
    )
).set_index("item_name")

math_test = pandas.concat((items, test_items))
math_test

                   size  reward
item_name
pencils               1       2
notebook              5       2
extra paper           3       1
pens                  2       1
water bottle          8       3
chewing gum           1       1
spare shoes          10       2
lunch                 6       2
granola bar           4       1
protractor            1       2
calculator            4       4
pair of compasses     2       2
garry gum             1       2

<div class="alert alert-warning">
Using the methods we discussed above, can you create a new knapsack problem object to solve this <b>new</b> problem? Are you going to be well-prepared for your math test? why or why not?
</div>

In [4]:
math_test_problem = pulp.LpProblem("math-test-knapsack", pulp.LpMaximize)

In [6]:
decision_variables = pulp.LpVariable.dicts("x", 
                                           math_test.index, 
                                           lowBound=0, 
                                           upBound=1, 
                                           cat=pulp.LpBinary
                                          )

In [7]:
decision_variables

{'pencils': x_pencils,
 'notebook': x_notebook,
 'extra paper': x_extra_paper,
 'pens': x_pens,
 'water bottle': x_water_bottle,
 'chewing gum': x_chewing_gum,
 'spare shoes': x_spare_shoes,
 'lunch': x_lunch,
 'granola bar': x_granola_bar,
 'protractor': x_protractor,
 'calculator': x_calculator,
 'pair of compasses': x_pair_of_compasses,
 'garry gum': x_garry_gum}

In [9]:
benefits = sum(
    decision_variables[item_name] * math_test.loc[item_name, "reward"] 
    for item_name in math_test.index
)

In [10]:
costs = benefits = sum(
    decision_variables[item_name] * math_test.loc[item_name, "size"] 
    for item_name in math_test.index
)

In [11]:
costs

4*x_calculator + 1*x_chewing_gum + 3*x_extra_paper + 1*x_garry_gum + 4*x_granola_bar + 6*x_lunch + 5*x_notebook + 2*x_pair_of_compasses + 1*x_pencils + 2*x_pens + 1*x_protractor + 10*x_spare_shoes + 8*x_water_bottle + 0

In [12]:
costs <= 25

4*x_calculator + 1*x_chewing_gum + 3*x_extra_paper + 1*x_garry_gum + 4*x_granola_bar + 6*x_lunch + 5*x_notebook + 2*x_pair_of_compasses + 1*x_pencils + 2*x_pens + 1*x_protractor + 10*x_spare_shoes + 8*x_water_bottle + -25 <= 0

In [13]:
math_test_problem += benefits

In [14]:
math_test_problem += costs <= 25

In [15]:
math_test_problem

math-test-knapsack:
MAXIMIZE
4*x_calculator + 1*x_chewing_gum + 3*x_extra_paper + 1*x_garry_gum + 4*x_granola_bar + 6*x_lunch + 5*x_notebook + 2*x_pair_of_compasses + 1*x_pencils + 2*x_pens + 1*x_protractor + 10*x_spare_shoes + 8*x_water_bottle + 0
SUBJECT TO
_C1: 4 x_calculator + x_chewing_gum + 3 x_extra_paper + x_garry_gum
 + 4 x_granola_bar + 6 x_lunch + 5 x_notebook + 2 x_pair_of_compasses
 + x_pencils + 2 x_pens + x_protractor + 10 x_spare_shoes + 8 x_water_bottle
 <= 25

VARIABLES
0 <= x_calculator <= 1 Integer
0 <= x_chewing_gum <= 1 Integer
0 <= x_extra_paper <= 1 Integer
0 <= x_garry_gum <= 1 Integer
0 <= x_granola_bar <= 1 Integer
0 <= x_lunch <= 1 Integer
0 <= x_notebook <= 1 Integer
0 <= x_pair_of_compasses <= 1 Integer
0 <= x_pencils <= 1 Integer
0 <= x_pens <= 1 Integer
0 <= x_protractor <= 1 Integer
0 <= x_spare_shoes <= 1 Integer
0 <= x_water_bottle <= 1 Integer

In [16]:
math_test_problem.solve()

Welcome to the CBC MILP Solver
Version: 2.10.10
Build Date: Apr 19 2023

command line - cbc /var/folders/g3/kfqgyscs7k59d1l6867ztwmh0000gn/T/9dabc5a8f2414e2aa52272c14df989e1-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/g3/kfqgyscs7k59d1l6867ztwmh0000gn/T/9dabc5a8f2414e2aa52272c14df989e1-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 6 COLUMNS
At line 59 RHS
At line 61 BOUNDS
At line 75 ENDATA
Problem MODEL has 1 rows, 13 columns and 13 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 25 - 0.00 seconds
Cgl0004I processed model has 1 rows, 8 columns (8 integer (5 of which binary)) and 8 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 1 integers unsatisfied sum - 0.5
Cbc0038I Solution found of 25
Cbc0038I Branch and bound needed to clear up 1 general integers
Cbc0038I Full problem 1 rows 8 columns, reduced to 1 rows 3 columns
Cbc0038I Cleaned solution of 25
Cbc0038I Before mini branch and bound, 7 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.02 seconds)
Cbc0038I After 0.02 seconds - Feasibility pump exiting with objective of 25 - took 0.01 seconds
Cbc0012I Integer solution of 25 found by feasibility pump after 0 iterations and 0 nodes (0.02 seconds)
Cbc0001I Search completed - best objective 25, took 0 iterations and 0 nodes (0.02 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from 25 to 25
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                25.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.01
Time (Wallclock seconds):       0.02

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.03

1

In [17]:
math_test.assign(
    packed = [
        decision_variables[item_name].varValue for item_name in math_test.index
    ]
)

                   size  reward  packed
item_name
pencils               1       2     1.0
notebook              5       2     0.0
extra paper           3       1     0.0
pens                  2       1     1.0
water bottle          8       3     1.0
chewing gum           1       1     1.0
spare shoes          10       2     1.0
lunch                 6       2     0.0
granola bar           4       1     0.0
protractor            1       2     0.0
calculator            4       4     0.0
pair of compasses     2       2     1.0
garry gum             1       2     1.0

So, no lunch on math test day! And, you don't bring your calculator? that might be a bad choice!

## The Grand Gum Ban

When packing for your math test, you remember that your school's ban on chewing gum has come into force today, so you derive *no* benefit from taking your gum to school:

In [18]:
gum_ban = math_test.copy()
gum_ban.loc['chewing gum', 'reward'] = 0

<div class="alert alert-warning">
Using the methods we discussed above, can you create a new knapsack problem object to solve this <b>new</b> problem? How does the solution differ? from that which you found in <b>An Important Math Test</b>?
</div>

In [19]:
gum_ban_problem = pulp.LpProblem("gum-ban-knapsack", pulp.LpMaximize)
gum_ban_dvs = pulp.LpVariable.dicts("x", 
                                    gum_ban.index, 
                                    lowBound=0, 
                                    upBound=1, 
                                    cat=pulp.LpBinary
                                   )
gum_ban_objective = sum(
    gum_ban.loc[item, 'reward'] * gum_ban_dvs[item] 
    for item in gum_ban.index
)
gum_ban_constraint = sum(
    gum_ban.loc[item, 'size'] * gum_ban_dvs[item] 
    for item in gum_ban.index
)
gum_ban_problem += gum_ban_objective
gum_ban_problem += gum_ban_constraint <= 25

In [20]:
solver = pulp.COIN_CMD(msg=False) # stop printing so much noise
gum_ban_problem.solve(solver)

1

In [21]:
gum_ban.assign(
    packed_now = [
        gum_ban_dvs[item_name].varValue for item_name in gum_ban.index
    ],
    packed_before = [
        decision_variables[item_name].varValue for item_name in math_test.index
    ]
)

                   size  reward  packed_now  packed_before
item_name
pencils               1       2         1.0            1.0
notebook              5       2         1.0            0.0
extra paper           3       1         0.0            0.0
pens                  2       1         1.0            1.0
water bottle          8       3         1.0            1.0
chewing gum           1       0         0.0            1.0
spare shoes          10       2         0.0            1.0
lunch                 6       2         0.0            0.0
granola bar           4       1         0.0            0.0
protractor            1       2         1.0            0.0
calculator            4       4         1.0            0.0
pair of compasses     2       2         1.0            1.0
garry gum             1       2         1.0            1.0

You can see that, now that we derive no benefit from chewing gum, we don't take any chewing gum to the test. However, we now also take our protractor and calculator!

## Challenge: If I catch you without your shoes again one more time...!

Your Physical Education teacher is very upset that you have "forgotten" to bring your spare shoes so often.
<div class="alert alert-warning">
Can you implement a <i>new constraint</i> that makes sure you bring your spare shoes to school? If not, how high do you have to set the "spare shoes" reward until it becomes optimal to bring the shoes? 
</div>

In [22]:
gym_problem = pulp.LpProblem("gym-knapsack", pulp.LpMaximize)
gym_dvs = pulp.LpVariable.dicts("x", 
                                    items.index, 
                                    lowBound=0, 
                                    upBound=1, 
                                    cat=pulp.LpBinary
                                   )
gym_objective = sum(
    gum_ban.loc[item, 'reward'] * gym_dvs[item] 
    for item in items.index
)
gym_capacity = sum(
    gum_ban.loc[item, 'size'] * gym_dvs[item] 
    for item in items.index
)

gym_problem += gym_objective
gym_problem += gym_capacity <= 25

# new constraint
gym_problem += gym_dvs['spare shoes'] >= 1

gym_problem.solve(solver)

1

In [24]:
gym_problem

gym-knapsack:
MAXIMIZE
1*x_extra_paper + 1*x_granola_bar + 2*x_lunch + 2*x_notebook + 2*x_pencils + 1*x_pens + 2*x_spare_shoes + 3*x_water_bottle + 0
SUBJECT TO
_C1: x_chewing_gum + 3 x_extra_paper + 4 x_granola_bar + 6 x_lunch
 + 5 x_notebook + x_pencils + 2 x_pens + 10 x_spare_shoes + 8 x_water_bottle
 <= 25

_C2: x_spare_shoes >= 1

VARIABLES
0 <= x_chewing_gum <= 1 Integer
0 <= x_extra_paper <= 1 Integer
0 <= x_granola_bar <= 1 Integer
0 <= x_lunch <= 1 Integer
0 <= x_notebook <= 1 Integer
0 <= x_pencils <= 1 Integer
0 <= x_pens <= 1 Integer
0 <= x_spare_shoes <= 1 Integer
0 <= x_water_bottle <= 1 Integer

In [23]:
items.assign(
    packed = [
        gym_dvs[item_name].varValue for item_name in items.index
    ]
)

              size  reward  packed
item_name
pencils          1       2     1.0
notebook         5       2     1.0
extra paper      3       1     1.0
pens             2       1     1.0
water bottle     8       3     0.0
chewing gum      1       1     0.0
spare shoes     10       2     1.0
lunch            6       2     0.0
granola bar      4       1     1.0

Our shoes get packed, but to do this, we have to leave behind our water bottle, which we took every other time!